@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Rubik:wght@400;600&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.space-between{
    justify-content:space-around;
    flex-wrap: wrap;
}

#navBar{
    justify-content: space-between;
    padding: 1rem;
}

nav img{
    height: 2rem;
}
#cartItems{
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}

#cartItems:hover{
  color: #6095ff;
}
header{
    width: 100%;
    background-image: url('assets/kw-background.png');
    background-size: 100% 100%;
    color: white;
    background-size: cover;
    background-position: right;
}

header div{
    max-height: 100%;
    max-width: 20%;
    padding: 5% 5%;
}

header h1 {
    font-size: 7vh;
}

header h5 {
    font-size: 2rem;
    margin-top: 20px;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

section h1{
  margin: 1rem;
}
h4{
  color: grey;
  font-weight: lighter;
}

h3,h4{
  margin: 0.7rem 0px;
}

.discover{
    margin: 4%;
}

.newbooks{
    margin: 5%;
}

.books {
    max-width: 200px;
}

.add{
    justify-content: space-between;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    background-color: #6095ff;
    color: white;
    padding: 7px;
    border-radius: 4px;
}

.button img{
    height: 1rem;
}

.outerBookContainer{
    width: 225px;
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
}

.bookContainer{
    width: 200px;
}

p{
    font-weight: 900;
}

.outerContainer{
    width: 325px;
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
    background-color: white;
    border-radius: 20px;
}

.Container{
    width: 300px;
}

.games{
    max-width: 300px;
}

footer{
    color: white;
    background-image: url("http://i1.faceprep.in/prograd-junior/footer-bg.png");
    background-size: 100% 100%;
    padding: 0% 5%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
  
footer #pacman{
    height:150px;
    border-radius: 50%;
}

#details {
    flex-direction: column;
    text-align: right;
    vertical-align: middle;
}

#cartDiv{
  display: none;
  position: fixed;
  height: 90vh;
  top: 5vh;
  width: 90vw;
  left: 5vw;
  background-color: rgba(237, 227, 223, 0.769);
  border-radius: 20px;
  box-shadow: 2px 2px 30px 2px rgba(255, 127, 80, 0.432);
}

#cart{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin: 2.5rem;
  margin-top: 4rem;
}

#cart::-webkit-scrollbar {
  display: none;
}

#cart .outerContainer{
  margin: 1.5rem;
  padding: 1rem;
}

#crossButton{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right:2rem;
  top: 1.5rem;
  background-color: #6095ff;
  height: 2rem;
  width: 2rem;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

#crossButton:hover,#placeOrder:hover{
  background-color: #2d6ef0c8;
}

#orderDiv{
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: space-between;
  font-size: 2rem;
}
#costSec, #placeOrder{
  height: 4rem;
  padding: 1rem;
  border-radius: 20px;
}

#placeOrder{
  background-color: #6095ff;
  color: white;
  cursor: pointer;
}

.cartOuterContainer{
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 20px;
}

.cartContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
.cartImg{
  height: 275px;
}
@media (max-width: 1200px){
    header {
        font-size: 15px;
        text-align: start;
        background-size: 100% 100%;
        background-size: cover;
        background-position: right;
      }
    
      header h1 {
        font-size: 5vh;
      }
    
      header h5 {
        font-size: 1rem;
      }
}

@media (max-width: 1100px){
  #orderDiv{
    font-size: 1.5rem;
    margin-left: 20%;
    margin-right: 20%;
  }
}
  @media(max-width: 700px) {
    header {
        font-size: 15px;
        text-align: start;
        background-size: 100% 100%;
        background-size: cover;
        background-position: right;
      }
    
      header h1 {
        font-size: 3vh;
      }
    
      header h5 {
        font-size: 13px;
      }
    #details{
        text-align: center;
    }
    body {
      text-align: center;
    }
    #orderDiv{
      font-size: 1.5rem;
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  @media(max-width: 500px){
    #orderDiv{
      font-size: 1.25rem;
      margin-left: 5%;
      margin-right: 5%;
    }

  }
  @media(max-width: 360px){
    #orderDiv{
      font-size: 1rem;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
  }